@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* 
    box-sizing border-box
    font-family 'Roboto', sans-serif
    
html,
body
    margin 0
    padding 0
    background #c6c6c6
    //height 100vh
