.btn
    outline none
    border none
    background-color wheat
    &:hover
        cursor pointer

.body
    display flex
    flex-direction column
    justify-content center
    align-items center

.fixed
    width 35%
    background-color wheat
    margin-left 20px
    border-radius 5%
    display flex
    flex-direction column
    align-items center
    height 40%

.profile
    padding-top 5%

.exit
    display flex
    flex-direction row
    justify-content center
    align-items center
    padding-top 5%
    padding-right 18%
    outline none
    border none
    background-color wheat
    &:hover
        cursor pointer

.pick
    width 22px
    height 17px

.add-new
    outline none
    border none
    background-color wheat
    &:hover
        cursor pointer

.add-post
    display flex
    flex-direction row
    justify-content flex-start
    align-items flex-start
    padding-top 5%
    &:hover
        cursor pointer
    
.add
    display flex
    flex-direction row
    justify-content flex-start
    align-items flex-start

.edit
    display flex
    flex-direction row
    justify-content flex-end
    align-items flex-end
    padding-top 5%
    &:hover
        cursor pointer
