body,html{
    font-family: 'Roboto', sans-serif; font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    background-color: #c6c6c6;
    }
    
    .container_nav{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: wheat;
    }
    .nav{
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    }
    .nav__link{
    padding-bottom:30px;
    text-align: center;
    color: black;
    margin: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-decoration: none;
    transition: color .2s linear ;
    }
    .nav__link:hover {
    color: rgb(131, 125, 125);
    }
    .nav__link {
    font-weight: 700;
    font-size: 13px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    }
    
    .nav__link:after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    width: 0;
    background-color: #e6ab2d;
    left: 0%;
    bottom: 0;
    }
    .nav__link:hover:before {
    width: 100%;
    left: 0;
    }
    .nav__link:hover:after {
    width: 100%;
    }
    .search{
    display: flex;
    height: 40px;
    padding: 10px;
    }
    .img__search{
        width: 22px;
        height: 19px;
        margin-top: 23%;
        margin-left: 15%;
    }
    .SearchBtn{
    width: 30px;
    height: 40px;
    background-color: #e6ab2d;
    display: flex;
    transition: 0.4s;
    
    
    }
    .search:hover > .searchText{
    width: 150px;
    padding: 0 6px;
    }
    .searchText{
    border: none;
    background-color: none;
    outline: none;
    padding: 0;
    color: black;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
    }
    .container__inner{
    width: 100%;
    padding-top: 66px;
    position: relative;
    height: 100%;
    
    }
    .menu__right{
    margin-top: 1%;
    margin-right: 7%;
    width: 20%;
    float: right;
    height: 30%;
    background-color: #fff ;
    border-radius: 3%;
    }
    .reg__menu{
    width: 100%;
    height: 40%;
    }
    .reg__txt{
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
    margin-bottom: 20px;
    }
    .input__login{
    width: 95%;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    height: 25px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    }

    .forgot__pass{
    padding-top: 10px;
    color: rgb(117, 117, 117);
    text-decoration: none;
    display: flex;
    justify-content: center;
    }
    .forgot__pass:hover{
    color:#e6ab2d ;
    }
    .btn__enter{
    background-color: rgb(147, 147, 147);
    border:none;
    padding-top: 6px;
    width: 230px;
    height: 33px;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    }
    .btn__login{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    }
    .btn__enter:hover{
    background-color: black;
    color:rgb(147, 147, 147) ;
    }
    .btn__reg{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    }
    .btn__rg{
    font-weight: 700;
    font-size: 15px;
    height: 33px;
    width: 230px;
    border: none;
    background-color: wheat;
    color: #e6ab2d;
    }
    .btn__rg:hover{
    background-color: #e6ab2d;
    color: wheat;
    }
    .border__login{
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        border: 2px  black solid ;
        justify-content: center;
    }
    .img__login{
        width: 22px;
        height: 19px;
       margin-top: 35%;
    }
