.body
    display flex
    justify-content center
    align-items center

.Registration--background
    background-color wheat
    width 300px
    height 400px
    display flex
    flex-direction column
    border-radius 5%
    justify-content flex-start
    text-align center

.title
    padding-top 20%

.pick--login
    width 22px
    height 17px
    padding-top 10%

.login
    padding-top 20%
    display flex
    justify-content center

#border--login
    border 1px black solid
    display flex
    flex-direction row
    justify-content center
    align-items center
    border-radius 5px

.login--input
    background-repeat no-repeat
    background-position 4px
    outline none
    border none
    background wheat
    font-size 13px

.password
    padding-top 5%
    display flex
    justify-content center

.pick--password
    width 22px
    height 17px
    padding-top 10%

#border--password
    border 1px black solid
    display flex
    flex-direction row
    justify-content center
    align-items center
    border-radius 5px

.password--input
    background-repeat no-repeat
    background-position 4px
    outline none
    border none
    background wheat
    font-size 13px

.email
    padding-top 5%
    display flex
    justify-content center

.pick--email
    width 22px
    height 17px
    padding-top 10%

#border--email
    border 1px black solid
    display flex
    flex-direction row
    justify-content center
    align-items center
    border-radius 5px

.email--input
    background-repeat no-repeat
    background-position 4px
    outline none
    border none
    background wheat
    font-size 13px

.checkbox
    padding-top 5%
    display flex
    justify-content center

#border--checkbox
    display flex
    flex-direction row
    justify-content center
    align-items center
    padding-right 16%

.button
    padding-top 5%
    padding-right 33%
