@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   /* font-size: 1em;*/
}


.btn{outline: none;
    border: none;
    background-color: wheat;

}
.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
/*Fixed*/
.fixed{
    width: 35%;
    background-color: wheat;
    margin-left: 20px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}
.profile{
    padding-top: 5%;
}
/*Exit*/
/*#Exit{
    outline: none;
    border: none;
    background-color: wheat;
}*/
.exit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-right: 18%;
}

/*picture*/
.pick{
    width: 22px;
    height: 17px;
}

/*ADD*/
.add-new{
    outline: none;
    border: none;
    background-color: wheat;
}
.add-post{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5%;
}
.add{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
/*Edit*/
.edit{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 5%;
    
}
