<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Личный кабинет</p>
    </div>
    
    <div class="block">
        <div>
            <h2>Имя</h2>
            <div class="persona">
                <p>{{name}}</p>
              </div>
        </div>
        <div>
            <h2>Почта</h2>
            <div class="persona">
                <p>{{email}}</p>
              </div>
        </div>

    </div>
</body>
</html>
